<!-- 不蒜子访问统计 -->
{% if site.components.busuanzi.enabled == true %}
<script async src="{{ assets_base_url }}/assets/vendor/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<div class="mobile-hidden" style="margin-top:8px">
  <span id="busuanzi_container_site_pv" style="display:none">
    本站访问量<span id="busuanzi_value_site_pv"></span>次
  </span>
  <span id="busuanzi_container_site_uv" style="display:none">
    / 本站访客数<span id="busuanzi_value_site_uv"></span>人
  </span>
  <span id="busuanzi_container_page_pv" style="display:none">
    / 本页访问量<span id="busuanzi_value_page_pv"></span>次
    {% if site.components.busuanzi.start_date %}
    / 统计始于{{ site.components.busuanzi.start_date }}
    {% endif %}
  </span>
</div>
{% endif %}

<!--CNZZ网站统计-文浩-20200620-->
{% if site.cnzz.enable %}
    <script type="text/javascript">document.write(unescape("%3Cspan id='cnzz_stat_icon_1279012287'%3E%3C/span%3E%3Cscript src='https://s9.cnzz.com/stat.php%3Fid%3D1279012287%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
{% endif %}
&nbsp &nbsp &nbsp
<a href="http://beian.miit.gov.cn" target="_blank">京ICP备2020034168号-1</a>
